
body {
    margin: 0;
    background-color: #f1d8b2;   
}

nav {
    position: fixed;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    font-family: 'Cormorant', serif;
    padding: 0 5%;
    height: 70px;
    background-color: #d4a279;
}
nav .logo {
    float: left;
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 38px;
    color: #F8F0E5;
}
nav .links {
    float: right;
    padding: 0;
    margin: 0;
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav .links li {
    list-style: none;
}
nav .links a {
    display: block;
    padding: 1em;
    font-size: 26px;
    font-weight: bold;
    color: #F8F0E5;
    text-decoration: none;
}

.intro {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
}
.aboutme {
    grid-column-start: 2;
    grid-row-start: 5
}